<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dublin Sustainable City Management</title>
    <meta name="description" content="A Project by Group-5">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    {% load static %}
    <!-- jquery
        ============================================ -->

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'Main/img/favicon.ico' %}">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->

    <link rel="stylesheet" href="{% static 'Main/css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/font-awesome.min.css' %}">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'Main/css/owl.transitions.css' %}">
    <!-- meanmenu CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/meanmenu/meanmenu.min.css' %}">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/animate.css' %}">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/normalize.css' %}">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
    <!-- jvectormap CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/jvectormap/jquery-jvectormap-2.0.3.css' %}">
    <!-- notika icon CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/notika-custom-icon.css' %}">
    <!-- wave CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/wave/waves.min.css' %}">
    <!-- 'Main CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/main.css' %}">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/style.css' %}">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="{% static 'Main/css/responsive.css' %}">
    <!-- modernizr JS
        ============================================ -->
        <!-- notification CSS
		============================================ -->
    <script src="{% static 'Main/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <script src="http://d3js.org/d3.v4.min.js" language="JavaScript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type='text/javascript'>
    
    $.ajaxSettings.async = false;

    var weather_data = [];
    var bike_data = [];
    var event_data = [];
    var irishRail_data = [];    
    
    $.getJSON( "/WeatherPollution/weatherData", function( data ) {
          $.each( data, function(i) {
                  var obj = {};
                  obj.Station = data[i].Station;
                  obj.Temperature = data[i].Temperature;
                  weather_data.push(obj);
                });
         });

    $.getJSON( "/Bike/bike_data", function( data ) {
          $.each( data, function(i) {
                  var obj = {};
                  obj.stand_name = data[i].name;
                  obj.available_bikes = data[i].available_bikes;
                  bike_data.push(obj);
                });
         });
         
     $.getJSON( "/CityEvents/CityEventData", function( data ) {
          $.each( data, function(i) {
                  var obj = {};
                  obj.event_name = data[i].nametext;
                  obj.event_date = data[i].startutc;
                  event_data.push(obj);
                });
         });
   
     $.getJSON( "/BusLuas/IrishRailData", function( data ) {
          $.each( data, function(i) {
                  var obj = {};
                  obj.train_name = data[i].TrainCode;
                  obj.late_time = data[i].Late;
                  irishRail_data.push(obj);
                });
         });


   function updateWeather() {
       for (var i = 0; i < weather_data.length; i++) {
           (function(i) {
               window.setTimeout(function() {
                   $(".weather-box-animation").addClass("animated flipInX").one("webkitAnimationEnd mozAnimationEnd oAnimationEnd animationend", function() {
                       $(this).removeClass("animated flipInX");
                   });
                   $(".getTemp").html((weather_data[i].Station+" "+weather_data[i].Temperature).substring(0,40));
               }, i * 6000);

           }(i));
       }
   }

  function updateBikes() {
       for (var i = 1; i < bike_data.length; i++) {
           (function(i) {
               window.setTimeout(function() {
                   $(".bike-box-animation").addClass("animated flipInX").one("webkitAnimationEnd mozAnimationEnd oAnimationEnd animationend", function() {
                       $(this).removeClass("animated flipInX");
                   });
                   $(".getBikes").html((bike_data[i].stand_name +":"+bike_data[i].available_bikes).substring(0,40));
               }, i * 6000);

           }(i));
       }
   }
   
   
function updateEvents() {
       for (i = 1; i < event_data.length; i++) {
           (function(i) {
               window.setTimeout(function() {
                   $(".event-box-animation").addClass("animated flipInX").one("webkitAnimationEnd mozAnimationEnd oAnimationEnd animationend", function() {
                       $(this).removeClass("animated flipInX");
                   });
                   $(".getEvents").html((event_data[i].event_name+" "+event_data[i].event_date).substring(0,30));
                  
               }, i * 6000);

           }(i));
       }
   }
   
function updateIrishRail() {
       for (i = 1; i < irishRail_data.length; i++) {
           (function(i) {
               window.setTimeout(function() {
                   $(".train-box-animation").addClass("animated flipInX").one("webkitAnimationEnd mozAnimationEnd oAnimationEnd animationend", function() {
                       $(this).removeClass("animated flipInX");
                   });
                   $(".getDelays").html(irishRail_data[i].train_name+" "+irishRail_data[i].late_time);
               }, i * 6000);

           }(i));
       }
   }
   
 setInterval(function() {updateWeather();updateBikes(); updateEvents();updateIrishRail(); }, 6000);



    </script>

</head>
<body>

    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="">
                        <div class="curved-ctn">
                            <img src="static/Main/img/logo/logo1.png" alt="" style="height:100%; width:40%; padding-top:10px;">
                           {% comment %} <h2 style="color:snow">Sustainable City Management</h2> {% endcomment %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">

                        <ul class="nav navbar-nav notika-top-nav">
                            <li class="nav-item dropdown">

                            </li>
                            <li class="nav-item dropdown">

                            </li>
                            <li class="nav-item nc-al">

                            </li>
                            <!---LOGIN BLOCK START-->
                            <li class="nav-item">
                                {% if user.is_authenticated %}
                                    <a href="{% url 'Authentication:logout' %}"  role="button" class="nav-link"><p style="display:inline; font-size:15px;">Welcome {{ user.username }} </p><span><i class="notika-icon notika-close"></i></span></a>
                                {% else %}
                                    <a href="{% url 'Authentication:login' %}"  role="button" class="nav-link"><p style="display:inline; font-size:15px;">You are not logged in </p><span><i class="notika-icon notika-support"></i></span></a>
                                {% endif %}
                            </li>
                            <!---LOGIN BLOCK END-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li>
                                    <a data-toggle="collapse" data-target="#Charts" href="#">Home</a>
                                    <ul class="collapse dropdown-header-top">
                                        <li><a href="#">Home Dashboard</a></li>
                                        <li><a href="DublinBikes">Dublin bikes</a></li>
                                        <li><a href="index_4">City Events Calendar</a></li>
                                        <li><a href="index_3">Irish Rail</a></li>
                                        <li><a href="index_5">Weather</a></li>
                                        <li><a href="index_6">Weather</a></li>
                                        <li><a href="templates/analytics.html">Analytics</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#demoevent" href="#">Email</a>
                                    <ul id="demoevent" class="collapse dropdown-header-top">
                                        <li><a href="templates/inbox.html">Inbox</a></li>
                                        <li><a href="templates/view-email.html">View Email</a></li>
                                        <li><a href="templates/compose-email.html">Compose Email</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#democrou" href="#">Interface</a>
                                    <ul id="democrou" class="collapse dropdown-header-top">
                                        <li><a href="animations.html">Animations</a></li>
                                        <li><a href="google-map.html">Google Map</a></li>
                                        <li><a href="data-map.html">Data Maps</a></li>
                                        <li><a href="code-editor.html">Code Editor</a></li>
                                        <li><a href="image-cropper.html">Images Cropper</a></li>
                                        <li><a href="wizard.html">Wizard</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#demolibra" href="#">Charts</a>
                                    <ul id="demolibra" class="collapse dropdown-header-top">
                                        <li><a href="flot-charts.html">Flot Charts</a></li>
                                        <li><a href="bar-charts.html">Bar Charts</a></li>
                                        <li><a href="line-charts.html">Line Charts</a></li>
                                        <li><a href="area-charts.html">Area Charts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#demodepart" href="#">Tables</a>
                                    <ul id="demodepart" class="collapse dropdown-header-top">
                                        <li><a href="normal-table.html">Normal Table</a></li>
                                        <li><a href="data-table.html">Data Table</a></li>
                                    </ul>
                                </li>
                                <!--<li>
                                    <a data-toggle="collapse" data-target="#demo" href="#">Forms</a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                        <li><a href="templates/form-elements.html">Form Elements</a></li>
                                        <li><a href="templates/form-components.html">Form Components</a></li>
                                        <li><a href="templates/form-examples.html">Form Examples</a></li>
                                    </ul>
                                </li>-->
                                <li>
                                    <a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">App views</a>
                                    <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="notification.html">Notifications</a>
                                        </li>
                                        <li>
                                            <a href="templates/alert.html">Alerts</a>
                                        </li>
                                        <li>
                                            <a href="templates/modals.html">Modals</a>
                                        </li>
                                        <li>
                                            <a href="templates/buttons.html">Buttons</a>
                                        </li>
                                        <li>
                                            <a href="templates/tabs.html">Tabs</a>
                                        </li>
                                        <li>
                                            <a href="templates/accordion.html">Accordion</a>
                                        </li>
                                        <li>
                                            <a href="templates/dialog.html">Dialogs</a>
                                        </li>
                                        <li>
                                            <a href="templates/popovers.html">Popovers</a>
                                        </li>
                                        <li>
                                            <a href="templates/tooltips.html">Tooltips</a>
                                        </li>
                                        <li>
                                            <a href="templates/dropdown.html">Dropdowns</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                 {% if user.is_authenticated %}
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro ">
                        <li class="active">
                            <a href="/" title="Login to view other dashboards"><i class="fa fa-home"></i> Home</a>
                        </li>
                        <li>
                            <a  href="DublinBikes"><i class="fa fa-bicycle"></i> Dublin bikes</a>
                        </li>
                        <li>
                            <a href="CityEvents"><i class="fa fa-calendar"></i> City Events</a>
                        </li>
                        <li>
                            <a  href="IrishRail"><i class="fa fa-subway"></i> Irish Rail</a>
                        </li>
                        <li>
                            <a  href="Weather"><i class="glyphicon glyphicon-cloud"></i> Weather</a>
                        </li>
                        <li>
                            <a href="CarPark"><i class="fa fa-car"></i> Car Park</a>
                        </li>
                       <li>
                            <a  href="BusDashBoard"><i class="fa fa-bus"></i>Dublin Bus </a>
                        </li>
                        <li>
                            <a  href="Analytics"><i class="notika-icon notika-support"></i> Analytics</a>
                        </li>
                    </ul>
                    {% endif %}
                    <div class="tab-content custom-menu-content">
                        <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">
                       
                            {% comment %} <ul class="notika-main-menu-dropdown">
                                <li>
                                    <a href="#">Home Dashboard</a>
                                </li>
                                <li>
                                    <a href="DublinBikes">Dublin bikes </a>
                                </li>
                                <li>
                                    <a href="CityEvents">City Events Calendar</a>
                                </li>
                                <li>
                                    <a href="IrishRail">Irish Rail </a>

                                </li>
                                <li>
                                    <a href="Weather">Weather</a>
                                </li>
                                <li>
                                    <a href="CarPark">Car Park</a>
                                </li>

                                <li>
                                    <a href="BusDashBoard">Dublin Bus</a>
                                </li>
                                <li>
                                    <a href="Analytics">Analytics</a>
                                </li>

                            </ul>
                            {% endif %} {% endcomment %}
                        </div>
                        <div id="DublinBikes" class="tab-pane notika-tab-menu-bg animated flipInX">
           
                        </div>

                     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 weather-box-animation">
                        <div class="website-traffic-ctn">
                            <h2><span class="getTemp"></span></h2>
                            <p>Weather</p>
                        </div>
                        {% comment %} <span class="weatherImg"></span> {% endcomment %}
                        <span><img src="static/Main/weather.png" style="width:40px; float:right; margin-left:15px;" alt="" /></span>
                        {% comment %} <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div> {% endcomment %}
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 bike-box-animation">
                        <div class="website-traffic-ctn">
                            <h2><span class="getBikes"></span></h2>
                            <p>Available Bikes</p>
                        </div>
                         <span><img src="static/Main/bike.png" style="width:40px; float:right; margin-left:15px;" alt="" /></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30 event-box-animation">
                        <div class="website-traffic-ctn">
                            <h2><span class="getEvents"></span></h2>
                            <p>Upcoming Events</p>
                        </div>
                        <span><img src="/static/Main/calendar.png" style="width:40px; float:right; margin-left:15px;" alt=""></img></span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30 train-box-animation">
                        <div class="website-traffic-ctn">
                            <h2><span class="getDelays"></span></h2>
                            <p>Train Delays</p>
                        </div>
                        <span><img src="static/Main/delay.png" style="width:40px; float:right; margin-left:30px;" alt="" /></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Status area-->
    <!-- Start Sale Statistic area-->
    <div class="sale-statistic-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
                    <div class="sale-statistic-inner notika-shadow mg-tb-30" style="height:546px;">
                        <div class="curved-inner-pro" style="margin-bottom: 0px;">
                            <div class="curved-ctn">
                                <h2> Real Time Traffic</h2>
                                <p></p>
                            </div>
                        </div>
                        <div><embed src = "CarTraffic" style="width:100%; height:450px;"></div>
                        {% comment %} <div id="curved-line-chart" class="flot-chart-sts flot-chart"></div> {% endcomment %}
                    </div>
                </div>
                <div class="sale-statistic-inner notika-shadow mg-tb-30">
                    <div class="search-engine-int">
                        <div class="contact-hd search-hd-eg">
                            <h2>Car Parking</h2>
                            <p>Real Time Car Parking Available Status</p>
                        </div>
                        <div class="search-eg-table">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Area Name</th>
                                        <th class="text-right">Space Available</th>
                                    </tr>
                                </thead>
                                <tbody id='topFiveCar'>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sale Statistic area-->
    <!-- Start Email Statistic area-->
    <div class="notika-email-post-area">
        <div class="container">
            <div class="row">
                {% comment %} <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="email-statis-inner notika-shadow">
                        <div class="email-ctn-round">
                            <div class="email-rdn-hd">
                                <h2>Bike Statistics</h2>
                            </div>
                            <div class="email-statis-wrap">
                                <div class="email-round-nock">
                                    <input type="text" id="totalbikes" class="knob" value="0" data-linecap="round" data-width="130" data-bgcolor="#E4E4E4" data-fgcolor="#5D3F6A" data-thickness=".10" data-readonly="true" data-rel="50">
                                <script>
                                console.log(bikedata);
                                $('#totalbikes').attr('data-rel', bikedata);
                                </script>
                                </div>
                                <div class="email-ctn-nock">
                                    <p>Total Bikes</p>
                                </div>
                            </div>
                            <div class="email-round-gp">
                                <div class="email-round-pro">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="75" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#5D3F6A" data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Total Available Bikes</p>
                                    </div>
                                </div>
                                <div class="email-round-pro">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="35" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#5D3F6A" data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Total Parking Available</p>
                                    </div>
                                </div>
                                <div class="email-round-pro sm-res-ds-n lg-res-mg-bl">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="45" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#5D3F6A" data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Total Bikes out of stand</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                        <div class="rc-it-ltd">
                            <div class="recent-items-ctn">
                                <div class="recent-items-title">
                                    <h2>Top 5 Busy Dublin Bike Stations</h2>
                                </div>
                            </div>
                            <div class="recent-items-inn">
                                <table class="table table-inner table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th style="width: 60px">Avaliable</th>
                                        </tr>
                                    </thead>
                                    <tbody id="top-5-busy">
                                    </tbody>
                                </table>
                            </div>
                          <div id="recent-items-chart" class="flot-chart-items flot-chart vt-ct-it tb-rc-it-res" style="padding: 0px; position: relative;"><canvas class="flot-base" width="339" height="98" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 339px; height: 98px;"></canvas><canvas class="flot-overlay" width="339" height="98" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 339px; height: 98px;"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="width:66% !important">
                    <div class="recent-post-wrapper notika-shadow sm-res-mg-t-30 tb-res-ds-n dk-res-ds" style="height:422px;">
                        <div class="recent-post-ctn">
                            <div class="recent-post-title">
                                <h2 style="text-align:center;">Events Calendar</h2>
                                <div><embed src = "CityEvents/MonthView" style="width:100%; height:680px;"></div>
                            </div>
                        </div>
                        <div class="recent-post-items">
                            <!--<div class="recent-post-signle rct-pt-mg-wp">
                                <a href="#">
                                    <div class="recent-post-flex">
                                        <div class="recent-post-img">
                                            <img src="static/Main/img/post/2.jpg" alt="" />
                                        </div>
                                        <div class="recent-post-it-ctn">
                                            <h2>Smith</h2>
                                            <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-img">
                                            <img src="static/Main/img/post/1.jpg" alt="" />
                                        </div>
                                        <div class="recent-post-it-ctn">
                                            <h2>John Deo</h2>
                                            <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-img">
                                            <img src="static/Main/img/post/4.jpg" alt="" />
                                        </div>
                                        <div class="recent-post-it-ctn">
                                            <h2>Malika</h2>
                                            <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-img">
                                            <img src="static/Main/img/post/2.jpg" alt="" />
                                        </div>
                                        <div class="recent-post-it-ctn">
                                            <h2>Smith</h2>
                                            <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-img">
                                            <img src="static/Main/img/post/1.jpg" alt="" />
                                        </div>
                                        <div class="recent-post-it-ctn">
                                            <h2>John Deo</h2>
                                            <p>Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rc-ps-vw">
                                        <div class="recent-post-line rct-pt-mg">
                                            <p>View All</p>
                                        </div>
                                    </div>
                                </a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                        {% comment %} <div class="rc-it-ltd"> {% endcomment %}
                            {% comment %} <div class="recent-items-ctn">
                                <div class="recent-items-title">
                                    <h2>Dashboard 2</h2>
                                </div>
                            </div> {% endcomment %}
                            <!--<div class="recent-items-inn">
                                <table class="table table-inner table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th style="width: 60px">Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="f-500 c-cyan">4555</td>
                                            <td>Samsung Galaxy Mega</td>
                                            <td class="f-500 c-cyan">$921</td>
                                        </tr>
                                        <tr>
                                            <td class="f-500 c-cyan">4556</td>
                                            <td>Huawei Ascend P6</td>
                                            <td class="f-500 c-cyan">$240</td>
                                        </tr>
                                        <tr>
                                            <td class="f-500 c-cyan">8778</td>
                                            <td>HTC One M8</td>
                                            <td class="f-500 c-cyan">$400</td>
                                        </tr>
                                        <tr>
                                            <td class="f-500 c-cyan">5667</td>
                                            <td>Samsung Galaxy Alpha</td>
                                            <td class="f-500 c-cyan">$870</td>
                                        </tr>
                                        <tr>
                                            <td class="f-500 c-cyan">7886</td>
                                            <td>LG G3</td>
                                            <td class="f-500 c-cyan">$790</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>-->
                            {% comment %} <div id="recent-items-chart" class="flot-chart-items flot-chart vt-ct-it tb-rc-it-res"></div>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Email Statistic area-->
    <!-- Start Realtime sts area-->
    <div class="realtime-statistic-area">
        <div class="container">
            <div class="row">
                 <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="margin-top:30px;">
                    <div class="recent-items-wp notika-shadow sm-res-mg-t-30">
                        <div class="rc-it-ltd">
                            <div class="recent-items-ctn">
                                <div class="recent-items-title">
                                    <h2>Top 5 Available Dublin Bike Stations</h2>
                                </div>
                            </div>
                            <div class="recent-items-inn">
                                <table class="table table-inner table-vmiddle">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th style="width: 60px">Avaliable</th>
                                        </tr>
                                    </thead>
                                    <tbody id="top-5-available">
                                    </tbody>
                                </table>
                            </div>
                          <div id="recent-items-chart" class="flot-chart-items flot-chart vt-ct-it tb-rc-it-res" style="padding: 0px; position: relative;"><canvas class="flot-base" width="339" height="98" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 339px; height: 98px;"></canvas><canvas class="flot-overlay" width="339" height="98" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 339px; height: 98px;"></canvas></div>
                        </div>
                    </div>
                </div>
                
                {% comment %} <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="notika-chat-list notika-shadow mg-t-30 tb-res-ds-n dk-res-ds">
                        <div class="realtime-ctn">
                            <div class="realtime-title">
                                <h2>Todo</h2>
                            </div>
                        </div>
                        <div class="card-box">
                            <!--<div class="chat-conversation">
                                <div class="widgets-chat-scrollbar">
                                    <ul class="conversation-list">
                                        <li class="clearfix">
                                            <div class="chat-avatar">
                                                <img src="static/Main/img/post/1.jpg" alt="male">
                                                <i>10:00</i>
                                            </div>
                                            <div class="conversation-text">
                                                <div class="ctext-wrap">
                                                    <i>John Deo</i>
                                                    <p>
                                                        Hello!
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="clearfix odd">
                                            <div class="chat-avatar">
                                                <img src="static/Main/img/post/2.jpg" alt="Female">
                                                <i>10:01</i>
                                            </div>
                                            <div class="conversation-text">
                                                <div class="ctext-wrap chat-widgets-cn">
                                                    <i>Smith</i>
                                                    <p>
                                                        Hi, How are you? What about our next meeting?
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="chat-avatar">
                                                <img src="static/Main/img/post/1.jpg" alt="male">
                                                <i>10:01</i>
                                            </div>
                                            <div class="conversation-text">
                                                <div class="ctext-wrap">
                                                    <i>John Deo</i>
                                                    <p>
                                                        Yeah everything is fine
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="clearfix odd">
                                            <div class="chat-avatar">
                                                <img src="static/Main/img/post/2.jpg" alt="male">
                                                <i>10:02</i>
                                            </div>
                                            <div class="conversation-text">
                                                <div class="ctext-wrap chat-widgets-cn">
                                                    <i>Smith</i>
                                                    <p>
                                                        Wow that's great
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <div class="chat-avatar">
                                                <img src="static/Main/img/post/1.jpg" alt="male">
                                                <i>10:01</i>
                                            </div>
                                            <div class="conversation-text">
                                                <div class="ctext-wrap">
                                                    <i>John Deo</i>
                                                    <p>
                                                        Doing Better i am thinking about that..
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="clearfix odd">
                                            <div class="chat-avatar">
                                                <img src="static/Main/img/post/2.jpg" alt="male">
                                                <i>10:02</i>
                                            </div>
                                            <div class="conversation-text">
                                                <div class="ctext-wrap chat-widgets-cn">
                                                    <i>Smith</i>
                                                    <p>
                                                        Wow, You also tallent man...
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>-->
                                <div class="chat-widget-input">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12 chat-inputbar">
                                            <div class="form-group todo-flex">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control chat-input" placeholder="Enter your text">
                                                </div>
                                                <div class="chat-send">
                                                    <button type="submit" class="btn btn-md btn-primary btn-block notika-chat-btn">Send</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
                <!-- bike table 2-->
               
            </div>
        </div>
    </div>
    <!-- End Realtime sts area-->
    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p>
                            {% comment %} Copyright © 2018
                            . All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>. {% endcomment %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    {% load static %}
    <script src="{% static 'Main/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- bootstrap JS
        ============================================ -->
    <script src="{% static 'Main/js/bootstrap.min.js' %}"></script>
    <!-- wow JS
        ============================================ -->
    <script src="{% static 'Main/js/wow.min.js' %}"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="{% static 'Main/js/jquery-price-slider.js' %}"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="{% static 'Main/js/owl.carousel.min.js' %}"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="{% static 'Main/js/jquery.scrollUp.min.js' %}"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="{% static 'Main/js/meanmenu/jquery.meanmenu.js' %}"></script>
    <!-- counterup JS
        ============================================ -->
    <script src="{% static 'Main/js/counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'Main/js/counterup/waypoints.min.js' %}"></script>
    <script src="{% static 'Main/js/counterup/counterup-active.js' %}"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="{% static 'Main/js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- jvectormap JS
        ============================================ -->
    <script src="{% static 'Main/js/jvectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
    <script src="{% static 'Main/js/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'Main/js/jvectormap/jvectormap-active.js' %}"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="{% static 'Main/js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'Main/js/sparkline/sparkline-active.js' %}"></script>
    <!-- sparkline JS
        ============================================ -->
    <script src="{% static 'Main/js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'Main/js/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'Main/js/flot/curvedLines.js' %}"></script>
    <script src="{% static 'Main/js/flot/flot-active.js' %}"></script>
    <!-- knob JS
        ============================================ -->
    <script src="{% static 'Main/js/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'Main/js/knob/jquery.appear.js' %}"></script>
    <script src="{% static 'Main/js/knob/knob-active.js' %}"></script>
    <!--  wave JS
        ============================================ -->
    <script src="{% static 'Main/js/wave/waves.min.js' %}"></script>
    <script src="{% static 'Main/js/wave/wave-active.js' %}"></script>
    <!--  todo JS
        ============================================ -->
    <script src="{% static 'Main/js/todo/jquery.todo.js' %}"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="{% static 'Main/js/plugins.js' %}"></script>

    <!-- 'Main JS
        ============================================ -->
    <script src="{% static 'Main/js/main.js' %}"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
    //load bike data from api url
  var bike_data_top = []

d3.json("/Bike/bike_data", function(error, bdata) {
    for (i in bdata) {
        var obj = {};
        obj.name = bdata[i].name;
        obj.available_bike_stands = bdata[i].available_bike_stands;
        obj.available_bikes = bdata[i].available_bikes;
        obj.bike_stands = bdata[i].bike_stands;
        obj.last_update = bdata[i].last_update;
        obj.status = bdata[i].status;
        bike_data_top.push(obj);
    }

//get only name and avaliable_bikes from data
    var avaliable_bikes_1 = bike_data_top.map(function(val) {
        var s = {};
        s.name = val.name
        s.available_bikes = val.available_bikes;
        return s;
    });

//get top 5 sorted stands
    var top5_avaliable_bikes = avaliable_bikes_1.sort(function(a, b) {
        return parseFloat(a.available_bikes) - parseFloat(b.available_bikes);
    }).reverse().slice(0, 5);

//get only name and avaliable_bikes from data
    var avaliable_stands_1 = bike_data_top.map(function(val) {
        var s = {};
        s.name = val.name
        s.available_bike_stands = val.available_bike_stands;
        return s;
    });

//get top 5 sorted stands
    var top5_avaliable_stands = avaliable_stands_1.sort(function(a, b) {
        return parseFloat(a.available_bike_stands) - parseFloat(b.available_bike_stands);
    }).slice(0, 5);

//select table for entry
    var busy_enterSelection = d3.select('#top-5-busy').selectAll('p').data(top5_avaliable_stands).enter();

//create row
    var row_busy = busy_enterSelection.append('tr');

//add data
    row_busy.append('td')
        .text(function(value, i) {
            return i + 1
        });

    row_busy.append('td')
        .text(function(value, i) {
            return value.name
        });

    row_busy.append('td')
        .text(function(value, i) {
            return value.available_bike_stands
        });

//select table for entry
    var avaliable_enterSelection = d3.select('#top-5-available').selectAll('p').data(top5_avaliable_bikes).enter();

//create row
    var row_avaliable = avaliable_enterSelection.append('tr');

//add entry
    row_avaliable.append('td')
        .text(function(value, i) {
            return i + 1
        });

    row_avaliable.append('td')
        .text(function(value, i) {
            return value.name
        });

    row_avaliable.append('td')
        .text(function(value, i) {
            return value.available_bikes
        });

});

car_data_top=[];
d3.json("/Parking/parking_statsdata", function(error, bdata) {
    for (i in bdata) {
        var obj = {};
        // obj.name = bdata[i].name;
        // obj.available_bike_stands = bdata[i].available_bike_stands;
        // obj.available_bikes = bdata[i].available_bikes;
        // obj.bike_stands = bdata[i].bike_stands;
        // obj.last_update = bdata[i].last_update;
        // obj.status = bdata[i].status;
        // bike_data_top.push(obj);

        obj.name = bdata[i].name;
        obj.spaces = bdata[i].spaces;
        obj.area = bdata[i].area;
        obj.Timestamp = bdata[i].Timestamp;
        obj.last_update = bdata[i].last_update;
        obj.cm_last_insert_dttm = bdata[i].cm_last_insert_dttm;
        car_data_top.push(obj);
    }

//get only name and avaliable_bikes from data
    var avaliable_carparking_1 = car_data_top.map(function(val) {
        var s = {};
        s.name = val.name
        s.spaces = val.spaces;
        return s;
    });

//get top 5 sorted stands
    var top5_avaliable_carpark = avaliable_carparking_1.sort(function(a, b) {
        return parseFloat(a.spaces) - parseFloat(b.spaces);
    }).reverse().slice(0, 9);


//select table for entry
    var busy_enterSelection = d3.select('#topFiveCar').selectAll('p').data(top5_avaliable_carpark).enter();

//create row
    var row_busy = busy_enterSelection.append('tr');

//add data
    // row_busy.append('td')
    //     .text(function(value, i) {
    //         return i + 1
    //     });

    row_busy.append('td')
        .text(function(value, i) {
            return value.name
        });

    row_busy.append('td')
        .text(function(value, i) {
            return value.spaces
        });

// //select table for entry
//     var avaliable_enterSelection = d3.select('#top-5-available').selectAll('p').data(top5_avaliable_bikes).enter();

// //create row
//     var row_avaliable = avaliable_enterSelection.append('tr');

// //add entry
//     row_avaliable.append('td')
//         .text(function(value, i) {
//             return i + 1
//         });

//     row_avaliable.append('td')
//         .text(function(value, i) {
//             return value.name
//         });

//     row_avaliable.append('td')
//         .text(function(value, i) {
//             return value.available_bikes
//         });

});
</script>
</body>

</html>